<%- include("../includes/head", {pageTitle:'login'}) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    <%- include('../includes/header') %>
    <main>
        <h1>Login </h1>
       
        </form>
    </main>

    <%- include('../includes/footer') %>