<%#- include("../../includes/head", {pageTitle:'webdon'}) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    <%#- include('../../includes/header') %>
    <main>
        <h1>Welcome to Webdon Inc </h1>
       
        <p>You can <a href="/signup">signup</a> or <a href="/login">login</a></p>
    </main>

    <%#- include('../../includes/footer') %>