<article class="product-item">
    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
    <h2><%= product.title %></h2>
    <div>
     <a class="btn btn-alt" href="/admin/<%= product.id %>">View and Edit</a>
        <button>Delete</button>
    </div>
</article>