<%- include("../../shared/includes/head", {pageTitle:'Success'}) %>


</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
     <h1>Order Successful</h1>
     <p>visit <a href="/oders">Orders page</a> for more details</p>
       
    </main>

    <%- include('../../shared/includes/footer') %>