<%- include("../../shared/includes/head", {pageTitle:'Success'}) %>


</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
     
       
    </main>

    <%- include('../../shared/includes/footer') %>