form hr {
    border-color: var(--color-primary-200);
    margin: 1rem;
}

label {
    display: block;
    color: var(--color-gray-100);
    margin-bottom: 0.5rem;
}

input,
textarea {
    font: inherit;
    padding: 0.5rem;
    border-radius: var(--border-radius-small);
    border: none;
    width: 90%;

}