<article class="cart-item">
    <div class="cart-item-info">
        <h2>Title</h2>
        <p>total price(Price for a single product)</p>
    </div>

    <div class="cart-item-management">
        <input type="text" required>
    </div>
 </article>