<%- include("../../shared/includes/head", {pageTitle:'webdon'}) %>

<link rel="stylesheet" href="/styles/products.css">
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main id="product-details">
        <header>
            <img src="" alt="">
            <div id="product-info">
                <h1>Name</h1>
                <p>Prrice</p>
                <button>Add To Cart</button>
            </div>
        </header>    
        <p>Product Description</p>   
    </main>

    <%- include('../../shared/includes/footer') %>