<%- include("../../shared/includes/head", {pageTitle:'webdon'}) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
        <h1>All Products (Admin)</h1>
       
        <p>You can Add items to your cart and shop</a></p>
    </main>

    <%- include('../../shared/includes/footer') %>