<%- include("../includes/head", {pageTitle:'signup'}) %>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
    <%- include('../includes/header') %>
    <main>
        <h1>Create New Account</h1>
        <form action="/signup" method="POST">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" required>
            </div>

             <div class="form-control">
                <label for="confirmEmail">Confirm E-Mail</label>
                <input type="confirmEmail" name="confirmEmail" id="confirmEmail" required>
            </div>

            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" minlength="6" required>
            </div>
            <hr>

             <div class="form-control">
                <label for="fullname">Full Name</label>
                <input type="text" name="fullname" id="fullname" required>
            </div>

            <div class="form-control">
                <label for="street">Street</label>
                <input type="text" name="street" id="street" required>
            </div>

             <div class="form-control">
                <label for="postal">Postal Code</label>
                <input 
                type="text" 
                name="postal" 
                id="postal" 
                minLength="5"  
                maxLength="5" 
                required>
            </div>

             <div class="form-control">
                <label for="city">City</label>
                <input type="text" name="city" id="city" required>
            </div>
            <button class="btn">Create Account</button>
             <p id="switch-form">You can <a href="/login">Login instead</a></p>
             
        </form>
    </main>

    <%- include('../includes/footer') %>